* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

header {
  height: 70px;
  justify-content: right;
}

main {
  height: calc(100vh - 140px);
}

footer {
  height: 70px;
  background-color: #222222;
  align-items: center;
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

.f-wrap {
  flex-wrap: wrap;
}

.overflow {
  overflow: auto;
}

header ul,
footer ul {
  list-style: none;
}

/* HEADER */
header nav {
  margin-top: 10px;
}

header a,
footer a {
  text-decoration: none;
  color: white;
}

header a {
  background-color: #4a4a4a;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
}
/* fine HEADER */

/* MAIN */
main section {
  justify-content: center;
  width: 100%;
  height: 100%;
}

section .card {
  width: 200px;
  height: 120px;
  background-color: blue;
  border: 1px solid black;
  margin: 5px 2px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .utente {
  position: absolute;
  bottom: 1px;
  left: 1px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
}
/* fine MAIN */


/* FOOTER */
footer a{
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

.icon-big {
  font-size: 25px;
}

span.description {
  display: block;
  font-size: .7rem;
  margin-top: 5px;
}

footer .fa-chevron-up{
  font-size: .5rem;
  margin-left: 15px;
}

